@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Open+Sans:wght@300;400;500&display=swap');

:root {
	--main-bg-black: #000;
	--main-bg-black-secondary: #171717;
	--main-bg-white: #dfd3c3;
	--main-bg-gold: #e9b171;
	--main-bg-salmon: #fa8072;
	--vh: 9.29px;
}

* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-webkit-backface-visibility: hidden;
	text-shadow: rgb(0 0 0 / 0%) 0 0 1px;
	vertical-align: baseline;
	background-clip: border-box;
	word-break: break-word;
}

body {
	margin: 0;
	font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	color: var(--main-bg-white);
	-moz-block-height: normal;
	line-height: 1.25;
	letter-spacing: -0.32px;
	font-size: 16px;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	background-color: var(--main-bg-black);
	word-break: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Merriweather", 'Constantia', 'Lucida Bright', 'Lucidabright', 'Lucida Serif', 'Lucida', 'DejaVu Serif', 'Bitstream Vera Serif', 'Liberation Serif', 'Georgia', 'serif';
	font-weight: 500;
}

h1,
h2 {
	font-weight: 400;
}

body>.site {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100vh;
}

body>.site>.site-main {
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 auto;
	-moz-box-flex: 1;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
}

img {
	display: block;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: auto;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
	vertical-align: middle;
}

a {
	text-decoration: none;
	color: var(--main-bg-white);
	cursor: pointer;
	cursor: hand;
	-webkit-transition: .3s;
	-o-transition: .3s;
	-moz-transition: .3s;
	transition: .3s;
}

button,
input[type=submit],
input[type=reset],
input[type=button] {
	background: none;
	border: 0;
	overflow: visible;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-appearance: button;
	cursor: pointer;
}

@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) {
	img {
		-webkit-mask-image: -webkit-radial-gradient(white, black);
	}
}

.container {
	width: calc(100% - 50px);
	margin: 0 auto;
}

.container {
	max-width: 1440px;
}

html.prevent-scroll {
	overflow: hidden;
}

::selection {
	background: var(--main-bg-white);
	color: var(--main-bg-black);
	text-shadow: none;
}


h1 {
	font-size: 10.6vw;
	line-height: 1;
	letter-spacing: -.595vw;
	width: 100%;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
	background: var(--main-bg-white);
}

::-webkit-scrollbar-track {
	width: 8px;
	background: #0c0c0c;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	opacity: 1;
	width: 8px;
}

/* Effect */
.underline {
	text-decoration: none;
	background-image: linear-gradient(var(--main-bg-white), var(--main-bg-white));
	background-position: 0 100%;
	background-repeat: no-repeat;
	background-size: 100% 2px;
	padding-bottom: 4px;
	transition: background-size .3s;
}

.underline:focus,
.underline:hover {
	background-size: 0 2px;
}

.reveller {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: var(--main-bg-gold);
	-webkit-backface-visibility: hidden;
	z-index: -1;
}



/* Movie fixed */
#movie-bg {
	position: fixed;
	pointer-events: none;
	-webkit-animation: movie 1s steps(4) infinite;
	animation: movie 1s steps(4) infinite;
	background-image: url(/images/pattern-movie.png);
	height: 200%;
	left: -50%;
	top: -50%;
	width: 200%;
	opacity: .7;
	z-index: 992;
}

@keyframes movie {
	0% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0)
	}

	10% {
		-webkit-transform: translate(-5%, -5%);
		transform: translate(-5%, -5%)
	}

	20% {
		-webkit-transform: translate(-10%, 5%);
		transform: translate(-10%, 5%)
	}

	30% {
		-webkit-transform: translate(5%, -10%);
		transform: translate(5%, -10%)
	}

	40% {
		-webkit-transform: translate(-5%, 15%);
		transform: translate(-5%, 15%)
	}

	50% {
		-webkit-transform: translate(-10%, 5%);
		transform: translate(-10%, 5%)
	}

	60% {
		-webkit-transform: translate(15%, 0);
		transform: translate(15%, 0)
	}

	70% {
		-webkit-transform: translate(0, 10%);
		transform: translate(0, 10%)
	}

	80% {
		-webkit-transform: translate(-15%, 0);
		transform: translate(-15%, 0)
	}

	90% {
		-webkit-transform: translate(10%, 5%);
		transform: translate(10%, 5%)
	}

	to {
		-webkit-transform: translate(5%, 0);
		transform: translate(5%, 0)
	}
}


/* Loading Screen */
.loading-screen {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 991;
	width: 100%;
	height: 100vh;
	background-color: black;
	color: white;
	overflow: hidden;
}

.loading-section {
	font-family: "Merriweather", 'Constantia', 'Lucida Bright', 'Lucidabright', 'Lucida Serif', 'Lucida', 'DejaVu Serif', 'Bitstream Vera Serif', 'Liberation Serif', 'Georgia', 'serif';
    font-weight: 500;
	position: absolute;
	display: flex;
	width: 100%;
	height: 100vh;
	align-items: center;
	justify-content: center;
	font-size: 2.45vw;
}

.loading-section>div {
	margin: 0 1.5vw;
}


/* Inspect me */
body.inspect-active * {
    outline: 1px dashed;
}


/* Colored version */
html.colored-active body {
    background-color: var(--main-bg-white);
    color: var(--main-bg-black);
}

html.colored-active .site-header a {
	color: var(--main-bg-black);
}

html.colored-active::-webkit-scrollbar-thumb,
html.colored-active::-webkit-scrollbar-thumb {
	background: var(--main-bg-white);
}

html.colored-active::-webkit-scrollbar-track {
	background: #0c0c0c;
}

html.colored-active .contact-me .contact-email {
	color: var(--main-bg-black);
}

html.colored-active a {
	color: var(--main-bg-black);
}

html.colored-active .underline {
	background-image: linear-gradient(var(--main-bg-black), var(--main-bg-black));
}

html.colored-active .contact-footer .underline {
	background-image: linear-gradient(var(--main-bg-white), var(--main-bg-white));
}

html.colored-active .section-copyright {
    background-color: var(--main-bg-black);
    color: var(--main-bg-white);
}

html.colored-active .footer-side button,
html.colored-active .section-copyright a {
	color: var(--main-bg-white);
}

html.colored-active .listing-projects-item {
	border-color: var(--main-bg-black);
}

html.colored-active .site-header {
	background: linear-gradient(180deg, var(--main-bg-white), rgb(255 255 255 / 0%));
}